  <div class="title-block">
    <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
    </h3>
  </div>

  <section class="section text-center" *ngIf="!isLoaded">
    Loading...
  </section>
  <section class="section" *ngIf="isLoaded">
    <div class="row">
      <div class="col-md-6">
        <spr-add-event [categories]="categories"></spr-add-event>
      </div>
      <div class="col-md-6">
        <spr-add-category (onCategoryAdd)="newCategoryAdded($event)"></spr-add-category>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <spr-edit-category
          [categories]="categories"
          (onCategoryEdit)="categoryWasEdited($event)"
        ></spr-edit-category>
      </div>
    </div>
  </section>
